@page
@model ForgotPasswordModel


<div class="login-form">
    <div class="container col-lg-4 col-md-6  col-10 py-5">
        <div class="row">

            <h1 class="text-center mb-3">
                <a href="@Url.Action("Index","Home")" style="text-decoration: none; color: #eb0202; font-size: 36px;">BloodNET</a>
            </h1>
            <p>Enter the email address associated with your account and we will send you a link to reset your password</p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <label asp-for="Input.Email">Email</label>
                <div class="form-floating input-container border-bottom mt-1">
                    <span>
                        <i class="fa fa-regular fa-envelope"></i>
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    </span>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger validate-span"></span>
                <button type="submit" class="w-100 btn btn-design-fill text-center mt-2">Continue</button>

                <div class="d-flex justify-content-center mt-5">
                    <p class="me-1">Do not have an account?</p><a asp-page="./Register"  class="text-decoration-none"
                                                                  style="color:#eb0202;">Create One!</a>


                </div>
        </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
