<section class="user-requests">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Your Requests</h2>
                <hr>
            </div>
            <div class="d-flex justify-content-between">
                <div class="col-3">
                    <h3>Blood Group</h3>
                </div>
                <div class="col-3">
                    <h3>Date</h3>
                </div>
                <div class="col-3">
                    <h3>Contact</h3>
                </div>
                <div class="col-3">
                    <h3>Actions</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordion w-100" id="basicAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#basicAccordionCollapse1" aria-expanded="false"
                            aria-controls="basicAccordionCollapse1">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <div class="col-3">
                                        <p>A+</p>
                                    </div>
                                    <div class="col-3">
                                        <p>12-12-2021</p>
                                    </div>
                                    <div class="col-3 ps-3">
                                        <p>0311-2323432</p>
                                    </div>
                                    <div class="col-3 action-class">
                                        <a href="#" class="btn-design-outline">Edit</a>
                                        <a href="#" class="btn-design-fill">Delete</a>
                                        <span class="position-absolute top-50 start-100 translate-middle badge border border-light rounded-circle bg-danger p-1 ps-2 pe-2">
                                            <span class="visually-hidden">unread messages</span>3
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </button>
                </h2>
                <div id="basicAccordionCollapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                     data-bs-parent="#basicAccordion">
                    <div class="accordion-body">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <h4>#</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Username</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Name</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Contact No.</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Time</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>1</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>2</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>3</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#basicAccordionCollapse2" aria-expanded="false"
                            aria-controls="basicAccordionCollapse2">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <div class="col-3">
                                        <p>B+</p>
                                    </div>
                                    <div class="col-3">
                                        <p>12-12-2021</p>
                                    </div>
                                    <div class="col-3 ps-3">
                                        <p>0311-2323432</p>
                                    </div>
                                    <div class="col-3 action-class">
                                        <a href="#" class="btn-design-outline">Edit</a>
                                        <a href="#" class="btn-design-fill">Delete</a>
                                        <span class="position-absolute top-50 start-100 translate-middle badge border border-light rounded-circle bg-danger p-1 ps-2 pe-2">
                                            <span class="visually-hidden">unread messages</span>2
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="basicAccordionCollapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                     data-bs-parent="#basicAccordion">
                    <div class="accordion-body">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <h4>#</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Username</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Name</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Contact No.</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Time</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>1</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>2</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <!-- We will contatenate requestid into id below at the end to separate it -->
                <h2 class="accordion-header" id="heading3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#basicAccordionCollapse3" aria-expanded="false"
                            aria-controls="basicAccordionCollapse3">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <div class="col-3">
                                        <p>AB+</p>
                                    </div>
                                    <div class="col-3">
                                        <p>12-12-2021</p>
                                    </div>
                                    <div class="col-3 ps-3">
                                        <p>0311-2323432</p>
                                    </div>
                                    <div class="col-3 action-class">
                                        <a href="#" class="btn-design-outline">Edit</a>
                                        <a href="#" class="btn-design-fill">Delete</a>
                                        <span class="position-absolute top-50 start-100 translate-middle badge border border-light rounded-circle bg-danger p-1 ps-2 pe-2">
                                            <span class="visually-hidden">unread messages</span>3
                                        </span>
                                    </div>
                                </div>

                            </div>
                            </div>
                    </button>
                </h2>
                <div id="basicAccordionCollapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                     data-bs-parent="#basicAccordion">
                    <div class="accordion-body">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <h4>#</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Username</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Name</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Contact No.</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Time</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>1</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>2</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>3</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#basicAccordionCollapse4" aria-expanded="false"
                            aria-controls="basicAccordionCollapse4">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <div class="col-3">
                                        <p>A+</p>
                                    </div>
                                    <div class="col-3">
                                        <p>12-12-2021</p>
                                    </div>
                                    <div class="col-3 ps-3">
                                        <p>0311-2323432</p>
                                    </div>
                                    <div class="col-3 action-class">
                                        <a href="#" class="btn-design-outline">Edit</a>
                                        <a href="#" class="btn-design-fill">Delete</a>
                                        <span class="position-absolute top-50 start-100 translate-middle badge border border-light rounded-circle bg-danger p-1 ps-2 pe-2">
                                            <span class="visually-hidden">unread messages</span>3
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </button>
                </h2>
                <div id="basicAccordionCollapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                     data-bs-parent="#basicAccordion">
                    <div class="accordion-body">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <h4>#</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Username</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Name</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Contact No.</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Time</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>1</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>2</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>3</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#basicAccordionCollapse5" aria-expanded="false"
                            aria-controls="basicAccordionCollapse5">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <div class="col-3">
                                        <p>B+</p>
                                    </div>
                                    <div class="col-3">
                                        <p>12-12-2021</p>
                                    </div>
                                    <div class="col-3 ps-3">
                                        <p>0311-2323432</p>
                                    </div>
                                    <div class="col-3 action-class">
                                        <a href="#" class="btn-design-outline">Edit</a>
                                        <a href="#" class="btn-design-fill">Delete</a>
                                        <span class="position-absolute top-50 start-100 translate-middle badge border border-light rounded-circle bg-danger p-1 ps-2 pe-2">
                                            <span class="visually-hidden">unread messages</span>3
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="basicAccordionCollapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                     data-bs-parent="#basicAccordion">
                    <div class="accordion-body">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <h4>#</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Username</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Name</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Contact No.</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Time</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>1</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>2</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>3</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <!-- We will contatenate requestid into id below at the end to separate it -->
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#basicAccordionCollapse6" aria-expanded="false"
                            aria-controls="basicAccordionCollapse6">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <div class="col-3">
                                        <p>AB+</p>
                                    </div>
                                    <div class="col-3">
                                        <p>12-12-2021</p>
                                    </div>
                                    <div class="col-3 ps-3">
                                        <p>0311-2323432</p>
                                    </div>
                                    <div class="col-3 action-class">
                                        <a href="#" class="btn-design-outline">Edit</a>
                                        <a href="#" class="btn-design-fill">Delete</a>
                                        <span class="position-absolute top-50 start-100 translate-middle badge border border-light rounded-circle bg-danger p-1 ps-2 pe-2">
                                            <span class="visually-hidden">unread messages</span>3
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </button>
                </h2>
                <div id="basicAccordionCollapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                     data-bs-parent="#basicAccordion">
                    <div class="accordion-body">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <h4>#</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Username</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Name</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Contact No.</h4>
                                    </div>
                                    <div class="col">
                                        <h4>Time</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>1</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>2</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="col-1">
                                        <p>3</p>
                                    </div>
                                    <div class="col">
                                        <p>malik456</p>
                                    </div>
                                    <div class="col">
                                        <p>Abdullah Malik</p>
                                    </div>
                                    <div class="col">
                                        <p>03212232323</p>
                                    </div>
                                    <div class="col">
                                        <p>23 Apr 2024 01:32 pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>