
.slide-in-right{
    animation:slide-in-right linear;
    animation-timeline: view();
    animation-duration: contain cover;
    
}
@keyframes slide-in-right{
    from{
        transform: translateX(-25%);
    }
    to{
        transform:translateX(10%);
    }
}

.slide-in-left {
    animation: slide-in-left linear;
    animation-timeline: view();
    animation-duration: contain contain;
}

@keyframes slide-in-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-8%);
    }
}



.fade-out{
    animation:fade-out linear;
    animation-timeline: view();
    animation-range: contain cover;
}

@keyframes fade-out{
    from{
        scale:1;
        opacity:1;
    }
    80%{
        scale:0.9;
        opacity:0.2;
    }
    to{
        scale:0.8;
        opacity:0;
    }
}

.fade-in {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range: cover contain;
}

@keyframes fade-in {
    from {
        scale: 0.9;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

.scale-out {
    animation: scale-out linear;
    animation-timeline: view();
    animation-range: contain cover;
}

@keyframes scale-out {
    from {
        scale: 1;
    }

    80% {
        scale: 0.9;
    }

    to {
        scale: 0.8;
    }
}

.scale-in {
    animation: scale-in linear;
    animation-timeline: view();
    animation-range: cover contain;
}

@keyframes scale-in {
    from {
        scale: 0.9;
    }

    to {
        scale: 1;
    }
}
    .opacity-out {
        animation: opacity-out linear;
        animation-timeline: view();
        animation-range: contain cover;
    }

    @keyframes opacity-out {
        from {
        opacity: 1;
    }
    50%{
        opacity:0.6;
    }
    80%{
        opacity:0.5;
    }
    to {
        opacity: 0;
    }
}