<section class="cta-message my-5">
    <div class="container align-content-center text-center slide-in-left">
        <div class="row">
            <div class="col-8">
                <h3 class="my-3">Together, We Can Save Lives</h3>
                <a href="@Url.Action("Signup","User")" class="btn-design-fill">Be a part of BloodNET</a>
            </div>
        </div>
    </div>
</section>