@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<style>
    body{
        overflow-x:hidden;
    }
</style>
<div class="justify-content-center align-items-center">
    <div class="row justify-content-center">
        <div class="col-3 mt-4">
        <img src="/img/svg/account.svg" class="img-fluid text-center" style="width:contain" />
        </div>
    </div>

@*     <h3 class="mt-4 ms-3">Change your account settings</h3> *@
    <hr />
    <div class="row" style="min-height:350px">
        <div class="offset-md-2 col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-7">
            @RenderBody()
        </div>
      
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
