<section class="submitted-information">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Profile Information</h2>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Name:</h4>
                        <p id="submitted-name">Lorem</p>
                    </div>
                    <div class="col-md-6">
                        <h4>Date of Birth:</h4>
                        <p id="submitted-dob">01-01-2000</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <h4>Gender:</h4>
                        <p id="submitted-gender">Male</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Weight:</h4>
                        <p id="submitted-weight">100 kg</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Blood Group:</h4>
                        <p id="submitted-blood-group">A+</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4>Phone:</h4>
                        <p id="submitted-phone">03112225785</p>
                    </div>
                    <div class="col-md-6">
                        <h4>Email:</h4>
                        <p id="submitted-email">sample@email.com</p>
                    </div>
                </div>
 
                <div class="row">
                    <div class="col-md-3">
                        <h4>Country:</h4>
                        <p id="submitted-country">Pakistan</p>
                    </div>
                    <div class="col-md-3">
                        <h4>City:</h4>
                        <p id="submitted-city">Lahore</p>
                    </div>
                    <div class="col-md-6">
                        <h4>Address:</h4>
                        <p id="submitted-address">House N/A, Street N/A</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Medical History:</h4>
                        <p id="submitted-medical-history" style="text-align:justify;">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio consequuntur dicta necessitatibus dolorum. Rem vero fuga hic atque aliquid dolor voluptatibus maxime sequi assumenda, et velit exercitationem ab esse cum!
                            Quas voluptatum ducimus aperiam ipsum iure dolores incidunt odio dicta veniam in ipsam ratione, amet quisquam soluta, enim cupiditate adipisci sequi fugit quibusdam nam. Iusto, repellat. Explicabo voluptatum illum corporis.
                            Labore, placeat. Quia sed quibusdam autem ipsa tempore cumque repudiandae ullam dolor voluptates corporis eveniet, vitae accusamus minima perspiciatis inventore illo praesentium expedita omnis? Accusantium est quia harum ea nihil?
                            Dolore suscipit sint inventore rerum voluptatum repellat debitis excepturi minima nisi quaerat consectetur adipisci ut molestias enim, itaque repudiandae repellendus, explicabo nihil! Itaque totam quam iure alias magni recusandae commodi!
                        </p>
                    </div>
                </div>
                <div class=" offset-md-9 offset-7 col-md-3 col-5 mt-3">
                    <a href="@Url.Action("addDonor","Donor")">
                        <button class="btn btn-outline-dark">Update Profile</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="profile-information">
    <div class="container">
        <div class="row">
            <h2>Donation History</h2>
            <hr>
            <div class="col gap-2">
                    <div class="border p-3 rounded">
                        <h3>Blood Donations</h3>
                        <h4 style="color: #eb0202;">3</h4>
                    </div>
                    </div>
                    <div class="col">

                    <div class="border p-3 rounded">
                        <h3>Last Donation Date</h3>
                        <h4 style="color: #eb0202;">12-12-2021</h4>
                    </div>
                    </div>

                    <div class="col">

                    <div class="border p-3 rounded">
                        <h3>Last Donation Place</h3>
                        <h4 style="color: #eb0202;">Doctors Hospital</h4>
                    </div>
   
                </div>
            </div>
        </div>
    
</section>

